form#message {
    position: fixed;
    float: right;
    right: 100px;
    border: none;
    margin-top: 15px;

}

form#message span {
    font-size: 25px;
}
form#message input {
    display: block;
    margin-top: 15px;
    width: 50%;
    height: 30px;
    background-color: #d8dbe0;
    border: none;
    text-align: center;
    text-decoration: none;
}

form#message textarea {
    display: block;
    margin-top: 30px;
    width: 500px;
    height: 150px;
    background-color: #d8dbe0;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}

form#message button {
    margin-top: 25px;
    background-color: burlywood;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

form#comment {
    position: fixed;
    float: right;
    right: 100px;
    bottom: 5px;
    border: none;
    margin-bottom: 20px;
}

form#comment span {
    font-size: 25px;
}
form#comment input {
    display: block;
    margin-top: 10px;
    width: 50%;
    height: 20px;
    background-color: #d8dbe0;
    border: none;
    text-align: center;
    text-decoration: none;
}

form#comment textarea {
    display: block;
    margin-top: 10px;
    width: 500px;
    height: 100px;
    background-color: #d8dbe0;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

form#comment button {
    margin-top: 15px;
    background-color: burlywood;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

section {
    position: relative;
    float: left;
}

span.news_feed {
    font-size: 25px;
}

ul {
    position: absolute;
    border: none;
    list-style-type: none;
}

li {
    margin-top: 30px;
    position: relative;
    width: 500px;
    height: 500px;
    display: block;
    background-color: #d8dbe0;
    color: white;
    text-decoration: none;
    text-align: center;
}

span.span_author{
    position: absolute;
    left: 30px;
    top: 20px;
    color: darkslateblue;
    font-size: 25px;
}

div.post_date {
    position: absolute;
    top: 60px;
    left: 40px;
    color: black;
}

span.span_text {
    position: absolute;
    top: 90px;
    left: 30px;
    right: 30px;
    height: 150px;
    border-top: 1px solid black;
    color: black;
    overflow-x: hidden;
    overflow-y: auto;
}

div.post_likes button {
    position: absolute;
    bottom: 200px;
    background-color: rgb(250, 255, 189);
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

div.post_comments {
    display: block;
    position: absolute;
    bottom: 200px;
    right: 0;
}

button.show_comments {
    background-color: rgb(250, 255, 189);
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

div.comments_comments {
    display: block;
    position: absolute;
    background-color: burlywood;
    width: 500px;
    height: 200px;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;

}

div.comments {
    display: block;
    position: relative;
    top: 5px;
    left: 5px;
    right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: content-box;
    border-bottom: 1px solid black;
}


span.span_comment__date {
    color: black;
    margin-top: 5px;
}

span.span_comment__author {
    color: darkslateblue;
    font-size: 15px;
}

span.span_comment__text {
    width: 440px;
    height: 80px;
    overflow-x: hidden;
    overflow-y: auto;
}






